<tr>
    <td class="align-middle">06/06/2018</td>
    <td class="align-middle"><img src="images/brands/operator/vodafone.jpg" class="img-thumbnail d-inline-flex mr-1">
        <span class="text-1 d-inline-flex">Recharge of
            Vodafone Mobile 9696969696</span></td>
    <td class="align-middle">5286977475</td>
    <td class="align-middle text-center"><i class="fas fa-check-circle text-4 text-success" data-toggle="tooltip"
            data-original-title="Your order is Successful"></i></td>
    <td class="align-middle text-right">$150</td>
    <td class="align-middle text-center"><a href="#" data-toggle="tooltip" data-original-title="Repeat Order"><i
                class="fas fa-redo-alt"></i></a></td>
</tr>