<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
            aria-selected="true">
            All
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="airtime-recharge-tab" data-toggle="tab" href="#airtime-recharge" role="tab"
            aria-controls="airtime-recharge" aria-selected="false">
            Airtime Recharge
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="data-bundle-tab" data-toggle="tab" href="#data-bundle" role="tab"
            aria-controls="data-bundle" aria-selected="false">
            Data Bundle
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cable-tv-tab" data-toggle="tab" href="#cable-tv" role="tab" aria-controls="cable-tv"
            aria-selected="false">
            Cable TV
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="electric-bills-tab" data-toggle="tab" href="#electric-bills" role="tab"
            aria-controls="electric-bills" aria-selected="false">
            Electric Bills
        </a>
    </li>
</ul>